* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #333, wheat, #333, 75%, wheat);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  background: #333;
  box-shadow: 1px 50px 400px black;
  border-radius: 5%;
  width: 400px;
  height: 500px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.cover-image {
  width: 100%;
  height: 350px;
}
.cover-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.control-card {
  padding: 5px;
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #eceaea;
  border-radius: 12px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  width: 100%;
}

.song-name {
  font-size: 20px;
  font-weight: bolder;
}
.artist-name {
  font-size: 15px;
  color: #555;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress-bar {
  height: 7px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: #999999;
  overflow: hidden;
}

.fill-bar {
  position: sticky;
  background-color: #333;
  width: 25%;
  height: 100%;
}

.control-buttons menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 25px;
  margin: 10px 0 0 30px;
}

.control-buttons li {
  cursor: pointer;
  font-size: 30px;
}
.controls li:hover {
  transform: scale(1.1);
}
